{erl_opts, [debug_info]}.
{deps, [
    {jsx, "~> 3.0"}
]}.

{relx, [{release, {core, "0.1.0"}, [core, mnesia, jsx, sasl]},
        
        %% Implements user requirement for dynamic OS environmental overrides
        {sys_config_src, "config/sys.config.src"},
        
        {mode, dev},
        {extended_start_script, true}
]}.

{profiles, [{prod, [{relx, [{mode, prod}]}]}]}.

{shell, [
    {apps, [core]}
]}.
